### Data initial analysis
A notebook used for the initial data analysis

In [1]:
import pandas as pd
import os
import sys

In [2]:
LABEL_FOLDER = './data/'
labels = pd.read_csv(os.path.join(LABEL_FOLDER, 'data.csv'))
labels

,label,video,shift
0,Qinglian_20210407_I97-New Cut Road HH 3-4-21.xlsx,/data/MoveOver/Videos/I97-New Cut Road HH 3-4-...,NaN
1,Binya_20210407_I-695 AT DULANEY VALLEY RD.xlsx,/data/MoveOver/Videos/Amir_20210126/I-695 AT D...,NaN
2,Qinglian_20210414_I66_WBpast_I495Crash_0204202...,/data/MoveOver/Videos/Videos_20210213/I-66 WB ...,NaN
3,Binya_20210414_I-695_AT_BALTIMORE_WASHINGTON_P...,/data/MoveOver/Videos/Amir/2021-01-25 12.04.23...,-1.0
4,Binya_20210414_I-695_AT_DULANEY_VALLEYRD.xlsx,/data/MoveOver/Videos/Amir/2021-01-25 12.14.23...,NaN
5,Qinglian_20210414_I-495_NBpastVA-620_Crash_020...,/data/MoveOver/Videos/Videos_20210213/I-495 NB...,NaN
6,Amir_20210420_I-695 AT WILKENS AVE.xlsx,/data/MoveOver/Videos/tmp/I-695 AT WILKENS AVE...,-3.0
7,Binya_20210420_I-695_AT_DULANEY_VALLEY_RD_new....,/data/MoveOver/Videos/Amir/2021-01-25 11.34.23...,NaN
8,Binya_20210420_I-95-495_SB_Inner_Loop_Local_La...,/data/MoveOver/Videos/Videos_20210213/I-95-495...,NaN
9,Qinglian_20210420_I-95_SB_near_VA-241_Disabled...,/data/MoveOver/Videos/Videos_20210213/I-95 SB ...,NaN
10,Qinglian_20210420_MD-295_NB_at_I-695_Crash_ 02...,/data/MoveOver/Videos/Videos_20210213/MD-295 N...,NaN
11,Binya_20210427_I-495_NB beforeVA-267-DisabledV...,/data/MoveOver/Videos/Videos_20210213/I-495 NB...,NaN
12,Qinglian_20210427_D8_83-44-2021-03-08_FHWA_D.xlsx,/data/MoveOver/Videos/PA/D8_83-44-2021-03-08 F...,NaN
13,Qinglian_20210427_I-495_SB_InnerLoopGPLanes_be...,/data/MoveOver/Videos/Videos_20210213/I-495 SB...,NaN
14,Amir_20210430_D8_81-52-2021-03-10 FHWA.xlsx,/data/MoveOver/Videos/PA/D8_81-52-2021-03-10 F...,-38.0

In [3]:
sorted([f for f in os.listdir(LABEL_FOLDER) if os.path.isfile(os.path.join(LABEL_FOLDER, f))])

['Amir_20210420_I-695 AT WILKENS AVE.xlsx',
 'Amir_20210430_D8_81-52-2021-03-10 FHWA.xlsx',
 'Binya_20210407_I-695 AT DULANEY VALLEY RD.xlsx',
 'Binya_20210414_I-695_AT_BALTIMORE_WASHINGTON_PKWY.xlsx',
 'Binya_20210414_I-695_AT_DULANEY_VALLEYRD.xlsx',
 'Binya_20210420_I-695_AT_DULANEY_VALLEY_RD_new.xlsx',
 'Binya_20210420_I-95-495_SB_Inner_Loop_Local_Lanes_at_VA-241-Disabled_Dump_Truck.xlsx',
 'Binya_20210427_I-495_NB beforeVA-267-DisabledVehicle-02112021.xlsx',
 'Qinglian_20210407_I97-New Cut Road HH 3-4-21.xlsx',
 'Qinglian_20210414_I-495_NBpastVA-620_Crash_02042021_1131_VDOT_CCTV.xlsx',
 'Qinglian_20210414_I66_WBpast_I495Crash_02042021_1059.xlsx',
 'Qinglian_20210420_I-95_SB_near_VA-241_Disabled_Dump_Truck_02102021.xlsx',
 'Qinglian_20210420_MD-295_NB_at_I-695_Crash_ 02102021_1448_MDOT_SHA_CCTV.xlsx',
 'Qinglian_20210427_D8_83-44-2021-03-08_FHWA_D.xlsx',
 'Qinglian_20210427_I-495_SB_InnerLoopGPLanes_before_US-50-Crash_02102021_1523_VDOT CCTV.xlsx',
 'data.csv']

In [4]:
df = []
i = 0
for idx, row in labels.iterrows():
    process = True
    sys.stdout.write('{}/{} videos processed.    \r'.format(i, len(labels)))
    i += 1
    if not os.path.exists(os.path.join(LABEL_FOLDER, row.label)):
        print ('Warning! Label file {} does not exist in folder {}.'.format(row.label, LABEL_FOLDER))
        process = False
    if not os.path.exists(row.video):
        print ('Warning! Video file {} does not exist.'.format(row.video))
        process = False
    if process:
        tmp = pd.read_excel(os.path.join(LABEL_FOLDER, row.label))
        tmp['label'] = row.label
        tmp['video'] = row.video
        if len(df) == 0:
            df = tmp.copy()
        else:
            df = pd.concat([df, tmp], ignore_index = True)
    #print ('{} done. We have {} rows in total'.format(row.label, len(df)))
df['author'] = df.label.apply(lambda x: x.split('_')[0])
print('{}/{} videos processed.         '.format(i, len(labels)))
print (f"Found {len(df):,} rows, ({len(df[df.type != 'delete']):,} objects and {len(df[df.type == 'delete']):,} areas to delete).")
                                                                            
df.head()

15/15 videos processed.
Found 59,257 rows, (57,694 objects and 1,563 areas to delete).

,TimeStamp,type,x,y,width,height,label,video,author
0,00:00:00.06673,vehicle,335.0,996.0,188.0,85.0,Qinglian_20210407_I97-New Cut Road HH 3-4-21.xlsx,/data/MoveOver/Videos/I97-New Cut Road HH 3-4-...,Qinglian
1,00:00:00.06673,vehicle,964.0,924.0,159.0,132.0,Qinglian_20210407_I97-New Cut Road HH 3-4-21.xlsx,/data/MoveOver/Videos/I97-New Cut Road HH 3-4-...,Qinglian
2,00:00:00.06673,vehicle,1199.0,308.0,51.0,42.0,Qinglian_20210407_I97-New Cut Road HH 3-4-21.xlsx,/data/MoveOver/Videos/I97-New Cut Road HH 3-4-...,Qinglian
3,00:00:00.06673,vehicle,1337.0,242.0,51.0,37.0,Qinglian_20210407_I97-New Cut Road HH 3-4-21.xlsx,/data/MoveOver/Videos/I97-New Cut Road HH 3-4-...,Qinglian
4,00:00:00.06673,vehicle,1327.0,114.0,34.0,20.0,Qinglian_20210407_I97-New Cut Road HH 3-4-21.xlsx,/data/MoveOver/Videos/I97-New Cut Road HH 3-4-...,Qinglian

In [5]:
df.groupby(['label', 'type']).agg({'TimeStamp' : 'count'})

                                                               TimeStamp
label                                              type
Amir_20210420_I-695 AT WILKENS AVE.xlsx            delete            218
                                                   truck             296
                                                   vehicle           881
Amir_20210430_D8_81-52-2021-03-10 FHWA.xlsx        delete            256
                                                   truck            1226
                                                   vehicle          1396
Binya_20210407_I-695 AT DULANEY VALLEY RD.xlsx     motorcycle          1
                                                   truck             439
                                                   vehicle          1165
Binya_20210414_I-695_AT_BALTIMORE_WASHINGTON_PK... delete            116
                                                   truck             416
                                                   vehicle          1657
Binya_20210414_I-695_AT_DULANEY_VALLEYRD.xlsx      delete             73
                                                   truck             352
                                                   vehicle          1442
Binya_20210420_I-695_AT_DULANEY_VALLEY_RD_new.xlsx delete            143
                                                   truck             941
                                                   vehicle          2564
Binya_20210420_I-95-495_SB_Inner_Loop_Local_Lan... delete            271
                                                   truck            1518
                                                   vehicle          6226
Binya_20210427_I-495_NB beforeVA-267-DisabledVe... delete              1
                                                   truck            1396
                                                   vehicle          5700
Qinglian_20210407_I97-New Cut Road HH 3-4-21.xlsx  truck            1036
                                                   vehicle          3476
Qinglian_20210414_I-495_NBpastVA-620_Crash_0204... truck             986
                                                   vehicle          7494
Qinglian_20210414_I66_WBpast_I495Crash_02042021... truck             704
                                                   vehicle          1301
Qinglian_20210420_I-95_SB_near_VA-241_Disabled_... truck            1103
                                                   vehicle          2272
Qinglian_20210420_MD-295_NB_at_I-695_Crash_ 021... delete            249
                                                   truck            1092
                                                   vehicle          3639
Qinglian_20210427_D8_83-44-2021-03-08_FHWA_D.xlsx  delete             12
                                                   truck            1594
                                                   vehicle          2145
Qinglian_20210427_I-495_SB_InnerLoopGPLanes_bef... delete            224
                                                   truck             880
                                                   vehicle          2356

In [6]:
df[df.type != 'delete'].author.value_counts().apply(lambda x: "{:,}".format(x))

Qinglian    30,078
Binya       23,817
Amir         3,799
Name: author, dtype: object

In [7]:
df.type.value_counts().apply(lambda x: "{:,}".format(x))

vehicle       43,714
truck         13,979
delete         1,563
motorcycle         1
Name: type, dtype: object

In [8]:
df[df.type == 'motorcycle']

,TimeStamp,type,x,y,width,height,label,video,author
4752,00:00:01.06700,motorcycle,548.0,270.0,40.0,25.0,Binya_20210407_I-695 AT DULANEY VALLEY RD.xlsx,/data/MoveOver/Videos/Amir_20210126/I-695 AT D...,Binya